<%include ./com/head.ejs %>
  </head>
  <body>
    <%include ./com/header.ejs %>
    <%include ./com/footer.ejs %>

    <div class="indexPage content">
        <div id="app"></div>
    </div>

<%include ./com/foot.ejs %>
  <script type="text/javascript" src="/vue/vue.js"></script>
  <script type="text/javascript" src="/dist/js/index.js"></script>
  </body>
</html>
