<%include ./com/head.ejs %>
  </head>
  <body>
    <%include ./com/header.ejs %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <%include ./com/footer.ejs %>
<%include ./com/foot.ejs %>
